body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}
h1 {
    font-size: 3em;
    letter-spacing: .4em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: sans-serif;
}
@media (min-width: 500px){
    
 }
h2 {
    font-size: 1.5em;
    padding-bottom: 0em;
    color:rgb(24, 24, 131)
}
main { 
    display: flex;
    background-color: rgb(238, 238, 220);
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: rgb(5, 5, 5);
    height: 2px;
}

h1, h2 {
    font-weight: 100;
    margin-bottom: 0;
}
#mainLeft {
    border-right: 2px solid rgb(226, 214, 214);
}

button{
    background-color: rgb(238, 238, 220);
    border-radius: 5px;
    border:currentColor;
    padding: 2px 22px;
    font-size: 15px;
    font-weight: bold; 
}
button:hover{
    background-color: rgb(24, 24, 131);
    border-radius:10px;
    width: 200px;
    height: 30px;
    color: rgb(238, 238, 220);
    
}
